.App3{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    top: 103px;
    left: 0;
}
.update{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.head-center{
    color: #2699FB;
    text-align: center;
}
.head-center h2{

    margin-bottom: 0;
}
.head-center p{
    font-size: 30px;
    margin-top: 0;

}
.input-group{
    margin: 25px 0;
}
.input-group label{
    display: block;
    color: #2699FB;
    font-weight: bold;
    font-size: 15px;
}
.input-group .company-input{
    border-radius: 0;
}
.input-group input:checked{
    background-color: #fff;
}
.update-btn{
    width: 100%;
}